/***********  TIPOS DE LETRA ************/

@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
}



/*** NAV ANIMATION ****/

.navbar-dark .navbar-toggler{
    border: none;
}

.animated-icon1, .animated-icon2, .animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
    .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    
    .animated-icon1 span {
    background: #ffffff;
    }
    
    .animated-icon2 span {
    background: #e3f2fd;
    }
    
    .animated-icon3 span {
    background: #f3e5f5;
    }
    
    .animated-icon1 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon1 span:nth-child(2) {
    top: 10px;
    }
    
    .animated-icon1 span:nth-child(3) {
    top: 20px;
    }
    
    .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    }
    
    .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    }
    
    .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }


.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    opacity: 1;
    font: normal normal normal 14px/16px PT Sans;
    text-align: left;
}

.nueva-marca{
    padding-left: 0rem;
    padding-right: 0rem;
    overflow: hidden;

}

.container-fluid {
    padding-left: 0rem;
    padding-right: 0rem;
    overflow: hidden;
}
 



/********  NEW CODE */

header.masthead {
  padding-top: 5rem;
  padding-bottom: calc(10rem - 4.5rem);
  background-image: url("../img/bg-1.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color:#ffffff;
     font-family: 'PT Sans, Regular';
   
    font-size: 0.9rem;
    
  }

header.masthead h1 {
    font-size: 4.063;
  }

header.masthead p {
    color: white;
    font-size: 1.25
}

.binfo{
    border-radius: 0!important;
    width: 257px;
    height: 59px;
    border: 1px solid white !important;
    color: white!important;
}

.new-div{
    padding: 5px;
    background-color: #012D42;
    width: 100%;
}

.new-div-two{
    padding: 5px;
    background-color: #012D42;
    width: 100%;
}
.new-div-two .cpmi {
    font-size: 1.063rem!important;
}

.new-div-two .binfo{

    width: 189px;
    height: 47px;
}

.new-div-two .textinfocont{
    font-size: 14px!important;
}

.new-div-two .cdname{
    font-size: 1.5rem!important;
}

.new-div-two .pswork{
    font-size: 14px!important;
}

.infoCMD{
    
    text-align: right;
    line-height: 2px;
}



.name-cmd{
    font-size: 24px!important;
    font-weight: bold;
}

.founder-position{
    font-size: 14px!important;
    font-weight: bold;
    margin-left: 140px;
   
}

.logoLink{
    padding-top: 10px;
    text-align: left;
    padding-right: 10px;
}

.newLogo{
    padding-top: 20px;
    text-align: left;
    padding-right: 10px;

}
.logoLinke{
    padding-top: 10px;
    text-align: left;
    padding-right: 10px;
}

.newCMDS{
    text-align: right;
    line-height: 2px;
}

.new-div-cdms{
    text-align: right;
    line-height: 2px;

}


.bwapp{
    color: #111F2F!important;
    background-color: white;
}


  @media (min-width: 992px) {

    header.masthead {
      height: 100vh;
    }
    header.masthead p {
      font-size: 1.15rem;
      max-width: 50%;
      
    }
    header.masthead h1 {
      font-size: 3rem;
   
      max-width: 38%;
    }
    
    .new-div{
        display: none;
    }

    .new-div-two{
        display: none;
    }
    

  }

  @media (max-width: 991px) {
    .h2text{
        display: none;
    }
    .btrs{
        display: none;
    }

    .lista-info{
        display: none;
    }

    .texto-banner-cmd{
        display: none;
    }

    .logoLink{
        display: none;
    }

   

  }
  @media (min-width: 1200px) {
    header.masthead h1 {
      font-size: 3.5rem;
   
      max-width: 38%;

    }   

   

 

  }

  @media (max-width: 700px){

    .h2text{
        display: none;
    }
    header.masthead p {
        max-width: 76.6666666667%;
    }

    .binfo{
        border-radius: 0!important;
        width: 45%;
        height: 59px;
        border: 1px solid white !important;
        color:white!important;
    }
    .bwapp{
        color: #111F2F!important;
    }

    .cpmi{
        font-size: 17px!important;
    }

    .textinfocont{
        font-size: 14px!important;
    }

   
   
  }


@media (min-width: 436px){
 
    .new-div{
        display: none;
    }
}

  @media (max-width: 435px){

    .new-div-two {
        
        display: none;
    }
    header.masthead p {
        max-width: 50%;
        position: absolute;
        top: 15rem
    }

    header.masthead {
        background-image: none;
        background-image: url("../img/bg-1-mobile.png");
        height: 100vh;
        
    }

    header.masthead h1 {
        max-width: 80%;
        position: absolute;
        top: 7rem;
    }

    .binfo{
        border-radius: 0!important;
       
        height: 44px;
        border: 1px solid white !important;
        color:white!important;
        margin-bottom: 20px;
    }
    .bwapp{
        color: #111F2F!important;
    }

    .cdname{
        font-size: 24px;
        margin-top: 10px;
    }
    .pswork{
        font-size: 14px;
        margin-left: 5rem;
    }

    .textinfocont{
        font-size: 14px!important;
    }
 
    .cpmi{
        font-size: 18px!important;
    }

    .info-card 
    
  


  }
 hr.divider{
    border: 1px solid white;
    border-radius: 5px;
    max-width: 10.25rem;
     
 }





/************************* Tres categorias **********************/

.container-servicio {

    padding-right: 0;
    padding-left: 0;
}

.tamano-hiper {
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    font-family: 'Abhaya Libre', serif!important;;
} 
.tamano-hiper:hover{
    color: red;
}


.texto-info-seq {
    color: #00293E
}

.text-info-mdd {
    color: #ffffff;
}

.img-complete {
    padding: 0 !important;
    margin: 0 !important;
    height: 30% !important;
    width: 100% !important;
    z-index: -1;
 
}

.servicio {
    background-image: linear-gradient(to right, #111f2f, #001D2DA1, transparent, transparent);
}

.experience{
    background-image: linear-gradient(to right, #111f2f, #001D2DA1, transparent, transparent);

}

.equip{
    background-image: linear-gradient(to right, #111f2f, #001D2DA1, transparent, transparent);

}

.newItem{
    background: none;
    color: white;
    border: none;
    font-size: 14px;
    font-family: 'PT Sans';

}





.text-postulate-here{
    font-size: 24px;
    text-align: right;
    margin-right: 10%;
}

/* Servicios */

.texto-ser {
    padding-top: 30px;
    color: #002236;
    font-family: 'Abhaya Libre', serif!important;
    font-size: 2.813rem ;
}


/* Experiencia */

.texto-exp {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Abhaya Libre', serif;
    color: white;
    background-color: #002D42;
    font-size: 2.813rem;
}


/* Equipo */

.texto-equi {
    padding-top: 30px;
    color: #002236;
    font-size: 2.813rem;
    font-family: 'Abhaya Libre', serif;
}

.text-center{
    font-size: 2.813rem;
    font-family: 'Abhaya Libre, Bold';
}

/*************************  Trabaja con nosotros  ****************/




/*Texto */

.tr-con-no {
    background-color: #002D42;
}

.tr-txt {
    color: white;
    font-size: 45px;
    margin-left: 10%;
    padding-top: 30px;
    font-family: 'Abhaya Libre', serif;
}

.tr-info {
    margin-left: 10%;
    font-size: 14px!important;
    color: white;
    font-family: 'PT Sans';
    text-align: justify;
    padding-right: 10%;

}






/****************************  Blog  ******************************/

/* BLOG*/

.blog-container{

    background: linear-gradient(to right, #111f2f, #001D2DA1, transparent, transparent) , url("../img/imgBlog.png");
  
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 4%;
    padding-bottom: 4%;
}


.blog {

    font-size: 45px;
  
    color: white;
    font-family: 'Abhaya Libre', serif;
    font-weight: bold;


}

.title-blog {
    font-family: 'Abhaya Libre', serif;
    color: white;
    font-size: 65px;
    font-weight: bold;
    line-height: 100%;
}

.preinfo-blog {

    color: white;
   
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}

.info-read-blog {

    border: white solid 2px!important;
    text-decoration: none;
    color: white;
    width: 286px;
    height: 59px;
    border-radius: 0!important;
    font-size: 14px!important;
   
}


@media (max-width: 575.98px) {

    .blog {
        margin-left: 5px;
    }

    .title-blog {
        margin-left: 5px;
        font-size: 25px;
    }

    .preinfo-blog {
        margin-left: 0px;
        text-align: center;
    }

    .info-read-blog {
        margin-left: 8%;
    }
}

@media (max-width: 767.98px) {


    .title-blog {
        margin-left: 5px;
        font-size: 35px;
    }

    .preinfo-blog {
        margin-left: 0px;
        text-align: center;
    }

}

@media (max-width: 852px) {

    .title-blog {
        font-size: 30px;
    }

}


/* Card*/

.card-info {

    width: 90%;
    height: auto;
    margin-left: 5%;
    border-radius: 0px;
    margin-top: 3%;
    margin-bottom: 3%;
    border: none;

}

.title-card {

    color: #111F2F;
    margin-left: 20px;
    margin-top: 20px;
    font-family: 'Abhaya Libre', serif;
    font-size: 24px;

}

.info-card {
    color: #111F2F;
    text-decoration: none;
    font-size: 14px!important;
    margin-left: 70%;
    font-weight: bold!important;
    font-family: 'PT Sans', sans-serif!important;
 

}

.preinfo-card {

    color: #001E40;
    margin-left: 20px;
    font-size: 10px;
    font-family: 'PT Sans', sans-serif;
    margin-right: 10%;
    text-align: justify;
    

}


/**************************** Footer  ****************************/

.derechos-reservados{
    background-color:#ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    font-size: 12px;
    
}

.footer .textinfocont{
    font-size: 14px!important;
    text-align: right;
    
}

.footer {
    color: white;
    background-color: #111F2F;
    padding-bottom: 10px;
}

.footer-cont {
    padding-top: 30px;

}

.texto-footer-cont {

    font-size: 24px;
   
    font-family: 'Abhaya Libre', serif;

}




.email-footer {
    text-decoration: none;
    border: #ffffff solid 1px;
    color: #ffffff;
    font-size: 14px;
    margin-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;


}



.wpp-footer {
    margin-left: 30px;
    text-decoration: none;

    color: #001E40;
    border: 1px solid #ffffff;
    font-size: 14px;
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;

}


.texto-footer {

    color: #ffffff;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;


}

.footer-txt-cont {

    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 30px;
}


.neutral-color {
    background-color: #111F2F;
    
}

.llenar-fondo{
    height: 100%;
}

@media screen and (max-width: 699px) {
    .simages {
        display: block
    }

    .bimages {
        display: none
    }
}

@media screen and (min-width: 700px) {
    .simages {
        display: none
    }

    .bimages {
        display: block
    }
}


/************************ Nosotros ************************/
body {
    background: #EDEDED;
}

p, span {
    font-family: 'PT Sans', sans-serif;
}

h1,
h2,
h3,
h4,
.subtitle,
.title,
.title-card {
    font-family: 'Abhaya Libre', serif;
}

#content-nosotros .banner-nosotros {
    background-image: url("../img/banner-nosotros.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 53vh;
    position: relative;
}

.opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #111f2f, #001D2DA1, transparent, transparent);
    display: flex;
}

.container-title-banner {
    margin-bottom: 7rem;
}

/************Mobile****************/
@media (max-width: 767px) {
    .container-title-banner {
        margin-bottom: 15px;
    }
}

.opacity h1 {
    color: white;
    font-size: 5rem;
    border-bottom: 1px solid white;
    width: fit-content;
    margin-bottom: 1rem;
}

/************Mobile****************/
@media (max-width: 767px) {
    .opacity h1 {
        font-size: 4rem;
        margin-bottom: .5rem;
    }
}

.opacity .breadcrumbs {
    color: white;
    font-size: 1.1rem;
}

/************Mobile****************/
@media (max-width: 767px) {
    .opacity .breadcrumbs {
        font-size: .9rem;
    }
}

.opacity .breadcrumbs a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

/************Mobile****************/
@media (max-width: 767px) {
    .opacity .breadcrumbs a {
        font-size: .9rem;
    }
}

.container-description {
    background: white;
    margin-top: -5rem;
    z-index: 1;
    position: relative;
    padding: 4rem 2rem 2rem;
    margin-bottom: 2rem;
}

/************Mobile****************/
@media (max-width: 767px) {
    .container-description {
        margin: 0 -15px;
        padding: 15px 15px 4rem;
    }
}

.container-description .title,
.container-description .subtitle,
.container-description .item .title {
    color: #002A41;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.container-description p,
.container-description .item .content-card .description-card {
    font-size: .9rem;
    color: #032B40;
}

#content-nosotros .container-description .subtitle {
    display: flex;
    justify-content: center;
    margin: 4rem auto;
}

#content-nosotros .container-description .item {
    margin-bottom: 2rem;
}

#content-nosotros .container-description .item .content-card .content-img {
    border: 1px solid #E2E2E2;
    margin: .5rem 0;
    background: white;
    max-width: 123px;
    width: 100%;
    height: auto;
}

#content-nosotros .container-description .item .content-card .content-img img {
    width: 100%;
    padding: 15px;
    margin: auto;
    display: flex;
}

#content-nosotros .container-description .item .content-card .title-card {
    color: #002A41;
    font-size: 1.1rem;
    margin: 0;
    font-weight: bold;
}

/**************************Servicios************************/

#content-servicios .banner {
    background-image: url("../img/banner-servicios.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 53vh;
    position: relative;
}

#content-servicios .container-description .content-tabs {
    margin-top: 2rem;
}

#content-servicios .container-description .content-tabs ul {
    background: #F6F6F6;
    padding: 15px;
    border-bottom: none;
    margin-bottom: 2rem;
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: nowrap;
    flex-flow: nowrap;
}



#content-servicios .container-description .content-tabs ul::-webkit-scrollbar {
    width: 5px;
    height: 2px;
    padding-right: 3px;
   
}

#content-servicios .container-description .content-tabs ul::-webkit-scrollbar-track {
    border-radius: 5px;
    background: transparent;
    border: none !important;
}

#content-servicios .container-description .content-tabs ul::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #959595;
}

#content-servicios .container-description .content-tabs ul li {
    white-space: nowrap;
}

#content-servicios .container-description .content-tabs ul li a {
    color: #092D40;
    text-transform: capitalize;
    opacity: 0.73;
    font-size: .8rem;
    text-decoration: none;
    padding: 0 5px;
    font-family: 'Abhaya Libre', serif;
}

#content-servicios .container-description .content-tabs ul li a.active {
    color: #111F2F;
    text-transform: capitalize;
    opacity: 1;
    background: transparent;
    border-color: transparent;
    font-weight: bold;
    border-bottom: 1px solid #111F2F;
    padding-bottom: .2em;

}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
    border: none;
}

#content-servicios .container-description .tab-content {
    margin: 0 2rem;
}

/************Mobile****************/
@media (max-width: 767px) {
    #content-servicios .container-description .tab-content {
        margin: 0;
    }
}

/***********************Equipo****************/
#content-equipo .banner {
    background-image: url("../img/banner-equipo.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 53vh;
    position: relative;
}

#content-equipo .content-avatar {
    margin-top: 3rem;
}

#content-equipo .content-avatar .card-avatar {
    text-align: center;
    margin-bottom: 3rem;
    cursor: pointer;
    text-decoration: none;
}

#content-equipo .content-avatar .card-avatar .content-img {
    max-width: 278px;
    max-height: 282px;
    margin: auto auto 1rem;
}

#content-equipo .content-avatar .card-avatar .content-img img {
    width: 100%;
    height: auto;
}

#content-equipo .content-avatar .card-avatar .name {
    font-family: 'Abhaya Libre', serif;
    color: #092D40;
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
}

#content-equipo .content-avatar .card-avatar .rol {
    color: #092D40;
    font-size: .9rem;
    font-family: 'PT Sans', sans-serif;
}

/***Modal team *****/
#content-equipo .modal .modal-dialog {
    max-width: 80vw;
    height: 80vh;
    display: flex;
    margin: auto;
}

/************Mobile****************/
@media (max-width: 767px) {
    #content-equipo .modal .modal-dialog {
        margin: 15px auto;
    }
}

#content-equipo .modal .modal-dialog .modal-content {
    margin: auto;
    padding: 2rem 1rem;
}

#content-equipo .modal .modal-dialog .modal-content .container-img {
    max-width: 250px;
    max-height: 240px;
    margin: auto;
}

/************Mobile****************/
@media (max-width: 767px) {
    #content-equipo .modal .modal-dialog .modal-content .container-img {
        margin: 2rem auto;
    }
}

#content-equipo .modal .modal-dialog .modal-content .container-img img {
    width: 100%;
    height: auto;
}

#content-equipo .modal .modal-dialog .modal-content h5 {
    font-family: 'Abhaya Libre', serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #092D40;
    margin-bottom: -6px;
}

#content-equipo .modal .modal-dialog .modal-content .description-profile,
#content-equipo .modal .modal-dialog .modal-content ul li {
    font-family: 'PT Sans', sans-serif;
    color: #092D40;
}

#content-equipo .modal .modal-dialog .modal-content .description-profile .rol {
    font-size: .9rem;
}

#content-equipo .modal .modal-dialog .modal-content .description-profile p {
    font-size: 1rem;
    margin: 1rem 0;
}

#content-equipo .modal .modal-dialog .modal-content ul {
    padding-left: 0;
    margin: .5rem;
}

.owl-nav {
    position: absolute;
    top: -3%;
    right: 0;
}

@media (max-width: 620px) {
    .owl-nav {
        top: -1%;;
        margin-top: 0 !important;
    }
}

.owl-nav button {
    color: #001e40 !important;
}

.owl-nav button:focus, .owl-nav button:hover {
    outline: none;
    background: transparent !important;
    color: #001e40 !important;
}

.owl-dots {
    position: absolute;
    top: 0;
    right: 10%;
}

@media (max-width: 767px) {
    .owl-dots {
        right: 13%;
        top: -0.5%;
        display: flex;
        justify-content: flex-end;
    }
}


.owl-dots button.active span {
    width: 20px !important;
    height: 3px !important;
    background: #001e40 !important;
}

.owl-dots button:focus {
    outline: none;
}

.owl-dots button span {
    width: 5px !important;
    height: 3px !important;
    border-radius: inherit !important;
}


/*********Page carlos equipo****************/
#content-equipo-carlos .banner .opacity .container-title-banner .rol {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    font-family: 'PT Sans', sans-serif;
}
/************Mobile****************/
@media (max-width: 767px) {
    #content-equipo-carlos .banner .opacity .container-title-banner .rol {
        font-size: 1.5rem;
    }
}

#content-equipo-carlos .banner {
    background-image: url("../img/banner-carlos.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 53vh;
    position: relative;
}
/************Mobile****************/
@media (max-width: 767px) {
    #content-equipo-carlos .banner {
        background-position: 90%;
    }
}

#content-equipo-carlos .container-description p,
#content-equipo-carlos .container-description ul li {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.1rem;
    color: #012D42;
}

#content-equipo-carlos .container-description ul {
    padding-left: 0;
    margin-bottom: 1rem;
}

#content-equipo-carlos .container-description ul li {
    list-style: none;
}


/******************** Blog **********/

#content-blog .banner-blog {
    background-image: url("../img/banner-blog.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 53vh;
    position: relative;
}

#content-blog .container-title-banner{

    margin-bottom: 15px;
}

.card {
    display: grid;
    grid-template: 40% 10% 30% 10%/100%;
    background: white;
    box-shadow: 0 3px 31px #00000029;
  }
  @media screen and (max-width: 768px) {
    .card {
      grid-template: 40% 10% 35% 10%/100%;
    }
  }
  .card .content-img {
    max-width: 345px;
    width: 100%;
    height: auto;
  }
  .card .content-img img {
    width: 100%;
    height: 100%;
  }
  .card .date-location {
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }
  @media screen and (max-width: 768px) {
    .card .date-location {
      padding: 8px;
    }
  }
  .card .date-location span {
    color: #797979;
    font-size: 14px;
  }
  @media screen and (max-width: 768px) {
    .card .date-location span {
      font-size: 8px;
    }
  }
  .card .date-location span img {
    margin-right: 0.2em;
    width: 0.8em;
  }
  .card p {
    padding: 15px;
    color: #797979;
    margin-bottom: 0;
    font-size: 16px;
  }
  @media screen and (max-width: 768px) {
    .card p {
      font-size: 12px;
      padding: 8px;
    }

   

  }
  .card a {
    padding: 15px;
    color: #022A40;
    text-decoration: none;
    font-size: 10px;
    font-family: 'Montserrat';
  }

  .title-news{
      margin-top: 15px;
      color: #012D42;
  }
  @media screen and (max-width: 768px) {
    .card a {
      font-size: 12px;
      padding: 8px;
    }
  }
 
  
  .content-details-news .detail-notice {
    display: grid;
    grid-template: 30% 5% 5% 60%/100%;
    margin-bottom: 2rem;
  }
  @media screen and (max-width: 768px) {
    .content-details-news .detail-notice {
      grid-template: 20% 3% 5% 70%/100%;
    }
  }
  @media screen and (max-width: 768px) {
    .content-details-news .detail-notice .content-img {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .content-details-news .detail-notice .content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .content-details-news .detail-notice .date-location {
    padding: 15px;
  }
  @media screen and (max-width: 768px) {
    .content-details-news .detail-notice .date-location {
      padding: 8px 0;
    }
  }
  .content-details-news .detail-notice .date-location span {
    color: #797979;
    font-size: 14px;
    margin-right: 0.8em;
  }
  @media screen and (max-width: 768px) {
    .content-details-news .detail-notice .date-location span {
      font-size: 8px 0;
    }
  }
  .content-details-news .detail-notice .date-location span img {
    margin-right: 0.2em;
    width: 0.8em;
  }
  .content-details-news .detail-notice .title {
    padding: 15px;
  }
  @media screen and (max-width: 768px) {
    .content-details-news .detail-notice .title {
      padding: 8px 0;
    }
  }
  .content-details-news .detail-notice .title h4 {
    font-weight: bold;
    color: #797979;
  }
  @media screen and (max-width: 768px) {
    .content-details-news .detail-notice .title h4 {
      font-size: 12px;
    }
  }
  .content-details-news .detail-notice .description p {
    padding: 15px;
    color: #797979;
    margin-bottom: 0;
    font-size: 16px;
  }
  @media screen and (max-width: 768px) {
    .content-details-news .detail-notice .description p {
      font-size: 12px;
      padding: 8px 0;
    }
  }
  .content-details-news .all-notice h4 {
    font-weight: bold;
    color: #797979;
    margin-bottom: 3rem;
  }
  @media screen and (max-width: 768px) {
    .content-details-news .all-notice h4 {
      font-size: 12px;
    }
  }





/************** Contactanos *******************/


.card-text{
    margin-bottom: 22px!important;
}


#content-contactanos .banner-contactanos {
    background-image: url("../img/banner-trabaja-con-nosotros.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 53vh;
    position: relative;
}

/****** Formulario ******/

.titulo-contactanos{
    margin-top: 25px;
    color: #01293F;
    font-weight: bold;
}

.info-title-form{
    color: #343434;
    font-size: 18px;
    font-family: 'PT Sans';
    font-weight: normal;
    text-align: justify;
    
}

.form-title {
    margin-top: 25px;
    font-size: 24px;
    color: #01293F;
    font-weight: bold;
}

.form-control{

    border: none;
    border-radius: 4px;
    height: 55px;
    font-weight: 378px;

}

.btn{
    border-radius: 4px;
}

.boton-contact{
    background-color: #002A40;
     color: white; 
     margin-top:15px;
    margin-bottom: 15px;
    text-align: center;
}

/************ Experiencia ************/


#content-experiencia .banner {
    background-image: url("../img/Experiencia.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 53vh;
    position: relative;
}
#content-experiencia .container-title-banner {
    margin-bottom: 15px;
}
#content-experiencia .content-description-experiencia {
    margin: 2rem 0;
}
#content-experiencia .content-description-experiencia p {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.1rem;
    color: #012D42;
}
#content-experiencia h5 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
}
#content-experiencia .owl-carousel.team {
    margin: 1.5rem 0 4rem 0;
}
/************Mobile****************/
@media (max-width: 767px) {
    #content-experiencia .owl-carousel.team {
        margin-top: 5rem;
    }
}
#content-experiencia .owl-carousel {
    margin: 4rem 0;
}
#content-experiencia .owl-nav{
    top: -11%;
}
#content-experiencia .owl-dots{
    top: -8%;
}
#content-experiencia .item .card{
    margin: auto auto 3rem;
    max-width: 165px;
    height: 241px;
    text-decoration: none;
}
#content-experiencia .item .card, #content-experiencia .owl-item .card {
    background: white;
    box-shadow: 0 20px 25px #0000001A;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
}
#content-experiencia .item .card.team, #content-experiencia .owl-item .card.team {
    padding: 0;
}
#content-experiencia .item .card .content-description, #content-experiencia .owl-item .card .content-description {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#content-experiencia .item .card .content-description.team, #content-experiencia .owl-item .card .content-description.team {
    height: 34%;
    padding: 15px;
    margin-bottom: 5px;
}
#content-experiencia .item .card .content-description.team .title, #content-experiencia .owl-item .card .content-description.team .title {
    margin-bottom: 5px;
}
#content-experiencia .item .card .content_image, #content-experiencia .owl-item .card .content_image {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#content-experiencia .item .card .content_image.team img, #content-experiencia .owl-item .card .content_image.team img {
    max-width: initial;
    margin: 0;
}
#content-experiencia .item .card .label, #content-experiencia .owl-item .card .label {
    font-size: 15px;
    line-height: 15px;
    color: #111f2f;
    text-align: center;
}
#content-experiencia .item .card img, #content-experiencia .owl-item .card img {
    margin: auto;
    width: 100%;
    max-width: 84px;
    height: auto;
}
#content-experiencia .item .card h4, #content-experiencia .owl-item .card h4 {
    color: #111f2f;
    font-weight: bold;
    font-size: 1rem;
    line-height: 15px;
}
#content-experiencia .item .card hr, #content-experiencia .owl-item .card hr {
    background: #111f2f;
    margin: 0;
}
#content-experiencia .item .card p, #content-experiencia .owl-item .card p {
    font-size: .8rem;
    color: #001e40;
}

.modal .modal-dialog {
    width: 100%;
    max-width: calc(100% - 20%);
}
@media (max-width: 1024px) {
    .modal .modal-dialog {
        max-width: calc(100% - 0%);
    }
}
.modal .modal-dialog .modal-body {
    padding: 0 0 0 15px;
}
@media (max-width: 1024px) {
    .modal .modal-dialog .modal-body {
        padding: 0 15px;
    }
}
.modal .modal-dialog .modal-body .label {
    padding-bottom: 2%;
}
.modal .modal-dialog .modal-body .title {
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
}
.modal .modal-dialog .modal-body p, .modal .modal-dialog .modal-body h5 {
    font-family: 'PT Sans', sans-serif;
    color: #001e40;
}
.modal .modal-dialog .modal-body .container-white {
    display: flex;
    flex-direction: column;
}
.modal .modal-dialog .modal-body .container-white .content-back {
    display: flex;
}
.modal .modal-dialog .modal-body .container-white .content-back .close {
    display: none;
}
@media (max-width: 1024px) {
    .modal .modal-dialog .modal-body .container-white .content-back .close {
        display: block;
    }
}
.modal .modal-dialog .modal-body .container-white .content-back .close:active {
    outline: none;
}
.modal .modal-dialog .modal-body .container-white .title {
    font-family: 'Abhaya Libre', serif;
    font-weight: 100;
}
.modal .modal-dialog .modal-body .container-white img {
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 140px;
    height: auto;
}
.modal .modal-dialog .modal-body .container-white .sub-title {
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
}
.modal .modal-dialog .modal-body .container-white hr {
    width: 30%;
    background: #111f2f;
    margin: 0;
}
.modal .modal-dialog .modal-body .container-white p {
    font-size: 13px;
}
.modal .modal-dialog .modal-body .container-white p.description-one {
    font-size: 18px;
    padding-top: 15px;
    line-height: 18px;
}
.modal .modal-dialog .modal-body .container-gray {
    background: #ededed;
}
.modal .modal-dialog .modal-body .container-gray .title {
    font-weight: bold;
}
.modal .modal-dialog .modal-body .container-gray p {
    font-size: 18px;
    line-height: 18px;
}
.modal .modal-dialog .modal-body .container-dark {
    background: #111f2f;
}
@media (max-width: 1024px) {
    .modal .modal-dialog .modal-body .container-dark .close {
        display: none;
    }
}
.modal .modal-dialog .modal-body .container-dark .title {
    font-weight: bold;
    color: white;
}
.modal .modal-dialog .modal-body .container-dark p {
    color: white;
    font-size: 20px;
}






#content-equipo-carlos .container-description h5 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #012D42;
    font-family: 'Abhaya Libre', serif;
    margin: 2rem 0;
}

/**********************************Breakpoints media query*******************************/

/************Mobile****************/
@media (max-width: 767px) {
}

/************tablet****************/
@media (max-width: 1023px) {
}

/************desktop****************/
@media (min-width: 1024px) {
}
